exportPattern("^[[:alpha:]]+")
import(kernlab)
import(MASS)
import(glmnet)
import(ggplot2)
importFrom("stats","lm","rbinom","rnorm")
S3method(plot,linearcl)
S3method(predict,linearcl)
S3method(plot,qlearn)
S3method(predict,qlearn)
S3method(predict,rbfcl)